<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UIChallenge" verbose="1" parallel="none">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="RestAssured-Java-Assignment" thread-count="1" preserve-order="true" enabled="true">
        <classes>
            <class name="tests.VerifyAccountRegistration"/>
            <class name="tests.VerifyLogin"/>
            <class name="tests.VerifyProductCheckout"/>
        </classes>
    </test>
</suite>